*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50%;
}

:root {
    --bgprimary: #1A1A1A;
    --text-color: #616161;
    --input-bgcolor: #303030;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1em;
    background-color: #f1f1f1;

    nav {
        display: flex;
        justify-content: center;
        background-color: var(--bgprimary);
        width: 100%;
        padding: 1em 0;

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 96%;
            background-color: inherit;

            .logo {
                width: 15%;

                .header__navbar__logo.phone__logo {
                    display: block;
                    width: 2.7em;
                }

                .header__navbar__logo.pc__logo {
                    display: none;
                }
            }

            .input-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: var(--input-bgcolor);
                border: 1px solid #616161;
                border-radius: 1rem;
                padding: .4em 0;
                gap: 1em;
                transition: .2s;
                width: 50%;


                .search {
                    width: 1.5em;
                    margin: 0 0 0 .6em;
                }

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: #B5B5B5;
                    width: 60%;
                }
            }

            .input-container:hover {
                border-color: white;
            }

            .notification-profile-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 2em;
                width: 15%;

                .bell {
                    width: 1em;
                }

                .profile {
                    border: 1px solid #36FBA1;
                    background-color: #36FBA1;
                    font-size: 1.4rem;
                    padding: .6em .3em;
                    border-radius: .3em;
                    color: var(--text-color);
                }

                .profile.pc {
                    display: none;
                }
            }
        }
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5em 0;
        width: 100%;

        aside {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bgprimary);
            width: 100%;
            padding: 1em 0;


            .aside-container {
                width: 96%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                color: #e3e3e3;
                position: relative;
                gap: 2em;

                p {
                    font-size: 1.3rem;
                    width: 65%;
                    line-height: 1.6em;
                }

                button.select {
                    font-size: 1.1rem;
                    padding: .7em 1em;
                    border-radius: .6rem;
                    font-weight: 600;
                    cursor: pointer;
                    background-color: white;
                    transition: .2s;
                    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
                }

                button.select:hover {
                    background-color: #f1f1f1;
                    transform: translateY(-0.1rem);
                }

                .close-cont {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    position: absolute;
                    top: 0em;
                    right: .5em;
                }
            }
        }

        .main-container {
            background-color: white;
            margin: 1.5em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.2em 0;
            width: inherit;

            .collapse-item {
                width: 94%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                line-height: 1.2em;
                font-size: 1.5rem;
                position: relative;
                margin-bottom: 2em;

                b,
                span {
                    font-size: clamp(1.5rem, 2.2vw, 2.6rem);
                }

                .collapsible-trigger {
                    width: 1.2em;
                    position: absolute;
                    top: 0em;
                    right: 0.5em;
                    border: 1px solid transparent;
                    border-radius: .2em;
                    background-color: transparent;
                    cursor: pointer;
                }

                .collapsible-trigger:hover {
                    background-color: #f1f1f1;
                }
            }

            .options {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 96%;

                ul {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    justify-content: center;

                    .steps {
                        list-style: none;
                        padding: 2em 1.4em;
                        border-radius: .8em;
                        cursor: pointer;
                        row-gap: 2em;
                        transition: .5s;

                        b.title {
                            font-size: 1.5rem;
                        }

                        .para-btn {
                            display: none;
                            flex-direction: column;
                            justify-content: center;
                            align-items: inherit;
                            row-gap: inherit;
                        }
                    }

                    .active {
                        background-color: #f1f1f1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding: 2em 1.4em;
                        border-radius: .8em;
                        cursor: pointer;
                        row-gap: 2em;
                        transition: .2s;


                        b.title {
                            font-size: 1.3rem;
                        }

                        .para-btn {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: inherit;
                            row-gap: inherit;


                            p {
                                color: #616161;
                                font-size: 1.3rem;
                                width: 70%;
                                line-height: 1.7em;
                                font-weight: 500;

                                a {
                                    text-decoration: none;
                                    color: #005BD3;
                                }
                            }

                            .step-btn {
                                font-size: 1.2rem;
                                font-weight: 600;
                                background-color: #404040;
                                color: white;
                                border: none;
                                border-radius: .6em;
                                padding: .5em .8em;
                                cursor: pointer;
                                box-shadow: 0px 0px 0px 1.5px #333,
                                    0px 1px 0px 1.5px #333,
                                    0px 2px 0px 0px #000;
                            }

                            .step-btn:hover {
                                background-color: #2a2a2a;
                            }

                            .btn-container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                column-gap: .7em;

                                .btn {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    background-color: transparent;
                                    color: #404040;
                                    border: 1px solid transparent;
                                    border-radius: .6em;
                                    padding: .5em .8em;
                                    cursor: pointer;
                                }

                                .btn:hover {
                                    background-color: #E7E7E7;
                                    outline: .15em solid #2B2B2B;
                                    transition: 100ms ease-in-out;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 600px) {

    body {
        nav {
            padding: 1.5em 0;
            .nav-container {

                .logo {
                    width: 25%;

                    .header__navbar__logo.phone__logo {
                        display: none;
                    }

                    .header__navbar__logo.pc__logo {
                        display: block;
                        width: 10em;
                    }
                }

                .input-container {
                    width: 40%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: var(--input-bgcolor);
                    border: 1px solid #616161;
                    border-radius: 1rem;
                    padding: .2em 0;
                    gap: 1em;
                    transition: .2s;

                    .search {
                        width: 1.8em;
                        margin: 0 0 0 1em;
                    }

                    input {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #B5B5B5;
                        font-size: clamp(1.4rem, 2vw, 2.5rem);
                    }
                }

                .input-container:hover {
                    border-color: white;
                }

                .notification-profile-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 2em;
                    width: 25%;

                    .bell {
                        width: 2em;
                    }

                    .profile.phone {
                        display: block;
                    }

                    .profile.pc {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid var(--input-bgcolor);
                        background-color: var(--input-bgcolor);
                        font-size: clamp(1rem, 1.5vw, 1.9rem);
                        padding: .6em .3em;
                        border-radius: .3em;
                        color: #fff;
                    }
                }
            }
        }


        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2em 0;
            width: 60%;

            aside {
                background-color: var(--bgprimary);
                width: 100%;
                padding: 1.5em 0;
                border-radius: .8rem;


                .aside-container {
                    width: 96%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: #e3e3e3;
                    position: relative;
                    gap: 0em;

                    p {
                        font-size: clamp(.8rem, 1.2vw, 1.6rem);
                        width: 75%;
                        line-height: 1.6em;
                    }

                    .btn-container {
                        width: 25%;
                        display: flex;
                        justify-content: space-around;
                        // border: 1px solid red;

                        button.select {
                            font-size: clamp(.81rem, 1vw, 1.2rem);
                            padding: .8em 1em;
                            border-radius: .8em;
                            font-weight: 600;
                            cursor: pointer;
                            background-color: white;
                            transition: .2s;
                            box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
                        }

                        button.select:hover {
                            background-color: #f1f1f1;
                            transform: translateY(-0.1rem);
                        }
                    }

                    .close-cont {
                        position: relative;

                    }
                }
            }

            .main-container {
                background-color: white;
                margin: 1.5em 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2em 0;
                width: 100%;
                border-radius: 1.8em;

                .collapse-item {
                    width: 96%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    line-height: 1.2em;
                    font-size: 1.5rem;
                    position: relative;
                    margin-bottom: 2em;

                    b,
                    span {
                        line-height: 1.5em;
                        font-size: clamp(1.6rem, 1.3vw, 2.4rem);
                    }

                    .collapsible-trigger {}

                    .collapsible-trigger:hover {
                        background-color: #f1f1f1;
                    }
                }

                .options {

                    ul {

                        .steps {
                            padding: 2em 1.4em;


                            b.title {
                                font-size: clamp(1rem, 1.6vw, 1.8rem);
                            }

                            .para-btn {
                                p {
                                    color: #616161;
                                    width: 70%;
                                    line-height: 1.7em;
                                    font-weight: 500;

                                    a {
                                        text-decoration: none;
                                        color: #005BD3;
                                    }
                                }

                                .step-btn {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    background-color: #404040;
                                    color: white;
                                    border: none;
                                    border-radius: .6em;
                                    padding: .5em .8em;
                                    cursor: pointer;
                                    box-shadow: 0px 0px 0px 1.5px #333,
                                        0px 1px 0px 1.5px #333,
                                        0px 2px 0px 0px #000;
                                }

                                .step-btn:hover {
                                    background-color: #2a2a2a;
                                }

                                .btn-container {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    column-gap: .7em;

                                    .btn {
                                        font-size: 1.2rem;
                                        font-weight: 600;
                                        background-color: transparent;
                                        color: #404040;
                                        border: 1px solid transparent;
                                        border-radius: .6em;
                                        padding: .5em .8em;
                                        cursor: pointer;
                                    }

                                    .btn:hover {
                                        background-color: #E7E7E7;
                                        outline: .15em solid #2B2B2B;
                                        transition: 100ms ease-in-out;
                                    }
                                }
                            }
                        }

                        .active {
                            background-color: #f1f1f1;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            padding: 2em 1.4em;
                            border-radius: .8em;
                            cursor: pointer;
                            row-gap: 2em;
                            transition: .2s;


                            b.title {
                                font-size: clamp(.8rem, 1.3vw, 1.76rem);
                                font-weight: 700;
                            }

                            .para-btn {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: inherit;
                                row-gap: inherit;


                                p {
                                    color: #616161;
                                    font-size: clamp(1rem, 1.2vw, 1.6rem);
                                    width: 70%;
                                    line-height: 1.7em;
                                    font-weight: 500;

                                    a {
                                        text-decoration: none;
                                        color: #005BD3;
                                    }
                                }

                                .step-btn {
                                    font-size: 1.2rem;
                                    font-weight: 600;
                                    background-color: #404040;
                                    color: white;
                                    border: none;
                                    border-radius: .6em;
                                    padding: .5em .8em;
                                    cursor: pointer;
                                    box-shadow: 0px 0px 0px 1.5px #333,
                                        0px 1px 0px 1.5px #333,
                                        0px 2px 0px 0px #000;
                                }

                                .step-btn:hover {
                                    background-color: #2a2a2a;
                                }

                                .btn-container {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    column-gap: .7em;

                                    .btn {
                                        font-size: 1.2rem;
                                        font-weight: 600;
                                        background-color: transparent;
                                        color: #404040;
                                        border: 1px solid transparent;
                                        border-radius: .6em;
                                        padding: .5em .8em;
                                        cursor: pointer;
                                    }

                                    .btn:hover {
                                        background-color: #E7E7E7;
                                        outline: .15em solid #2B2B2B;
                                        transition: 100ms ease-in-out;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.hide {
    .arrow-down {
        display: none;
    }

    .arrow-up {
        display: block;
    }

    .options {
        display: none;
    }
}